.page {
  background: #2A2C2F;
  margin: 0 auto;
  padding: 28px 0 24px;
  color: #FFFFFF;
  min-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 768px; 
  }
}

@media screen and (max-width: 425px) {
  .page {
    min-width: 320px;
    padding-top: 16px;
  }
}