.page {
  background: #2A2C2F;
  margin: 0 auto;
  padding: 28px 0 24px;
  min-width: 1024px;
  max-width: 1280px;
  color: #FFFFFF;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  /* выше установили ограничение по максимальной ширине */
  font-family: 'Inter', Arial, sans-serif;
}