.lead {
  margin: 0 auto 92px;
  margin-top: 56px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1070px) {
  .lead {
    margin: 48px 48px 92px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 48px 0px 88px;
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-bottom: 64px;
    min-width: 320px;
  }
}