.header {
  margin: 27px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .header {
    min-width: 928px;
    margin: 27px 48px 0;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    min-width: 720px;
    margin: 27px 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-width: 288px;
    margin: 27px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 15px 16px 0;
  }
}
