.footer__copyright {
  margin: 0;
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin: 0;
    min-width: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
}