.footer__copyright {
  margin: 0;
  right: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    min-width: 186px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 16px;
  }
}