.frame {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .frame {
    margin: 0 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .frame {
    margin: 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .frame {
    margin: 0 16px;
    max-width: 288px;
  }
}